body {
    font-family: 'Verdana', sans-serif;
    color: #333;
    line-height: 1.6;
    text-align: left;
	height: 100%;
	margin: 0;
}

h1, h2, h3, h4 {
	font-weight: bold;
    color: #438CBF;
}

p {
    font-size: 14px;
	text-align: justify;
}

#TopIndicator{
	display:flex;
	flex-direction:row;
	gap: 40px;
	padding-top: 0px;
	margin: 0px 50px;
}

.Row1{
	display:flex;
	justify-content: space-between;
	gap: 20px;
	width: 70%;
}

.Row1 img{
	flex: 1;
	max-width: 70%;
	height: auto; 
}

.GameIntro video{
	width: 100%;
	max-width: 800px;
	height: auto;
	display: block;
	margin: 0 auto;
}

.Issues{
	display:flex;
	justify-content: space-between;
	gap: 20px;
	margin: 150px 50px;
}

#footer {
	background-color: #6082B6;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
    width: 100%;
	margin-top: auto;
}

#About-me {
	margin: 20px 50px 20px 50px;
}

#About-me p {
	font-size: 12px;
}

#TopImage, #Home, #Portfolio, .GameDescription, .CodeShowing {
	margin: 0px 50px;
}

#wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.gameCodeImg {
	height: 550px;
	overflow: hidden;
}

.SocialIcon a {
	font-size: 24px;
	margin-right: 12px;
	text-decoration: none !important;
	color: #AAA;
	transition: color 0.3s;
}

.SocialIcon a:visited,
.SocialIcon a:active {
	color: #AAA;
	text-decoration: none !important;
}

.SocialIcon a:hover {
	color: #333;
	text-decoration: none !important;
}
