/* Global font settings */
body {
    font-family: 'Verdana', sans-serif;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Title font */
h1, h2 {
    font-family: 'Verdana', sans-serif;
    color: #ff8c42;
}

/* Paragraph */
p {
    font-size: 18px;
}


/* Project section */
.projects {
    margin: 50px 0;
}


.project-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


.project {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    width: 150px;
}

/* Link style */
a {
    color: #ff5e5b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    margin-top: 50px;
    padding: 20px 0;
    background-color: #ffe6cc;
}

